In [ ]:
import pandas as pd

df = pd.read_csv('student.csv', index_col=0)
df

In [20]:
df = pd.read_excel('student.xlsx', index_col=0)
df.head()

     國文  英文  數學   地理  探討
朱彥志  96  82  78   50  83
林世城  62  76  68   74  59
胡芳瑜  90  74  56   86  76
李慶亮  81  94  57   96  63
盧文啟  97  76  89  100  70

·透過欄選取
·透過欄選取

In [ ]:
# 透過欄選取
# 單欄選取
df['國文'] #Series

In [ ]:
# 多欄選取
df[['國文','數學']]

In [22]:
#loc->使用索引的名稱
#iloc->使用索引的index

df.loc['朱彥志']
df.loc[['朱彥志','李慶亮']]

     國文  英文  數學  地理  探討
朱彥志  96  82  78  50  83
李慶亮  81  94  57  96  63

In [23]:
df.iloc[0]
df.iloc[[0,3]]

     國文  英文  數學  地理  探討
朱彥志  96  82  78  50  83
李慶亮  81  94  57  96  63

In [25]:
df.loc['朱彥志':'李慶亮']

     國文  英文  數學  地理  探討
朱彥志  96  82  78  50  83
林世城  62  76  68  74  59
胡芳瑜  90  74  56  86  76
李慶亮  81  94  57  96  63

In [26]:
df.iloc[0:3]

     國文  英文  數學  地理  探討
朱彥志  96  82  78  50  83
林世城  62  76  68  74  59
胡芳瑜  90  74  56  86  76

In [32]:
df.head()
df.loc['朱彥志','地理'] = 61
df.head()

     國文  英文  數學   地理  探討
朱彥志  96  82  78   61  83
林世城  62  76  68   74  59
胡芳瑜  90  74  56   86  76
李慶亮  81  94  57   96  63
盧文啟  97  76  89  100  70

In [33]:
df[:10]

     國文  英文  數學   地理  探討
朱彥志  96  82  78   61  83
林世城  62  76  68   74  59
胡芳瑜  90  74  56   86  76
李慶亮  81  94  57   96  63
盧文啟  97  76  89  100  70
林士凱  75  84  56   92  78
劉萬季  98  55  87  100  89
陳家年  53  64  66   92  96
陳筱涵  70  54  63   55  82
白世宏  61  85  87   96  78

In [34]:
df[-10:]

     國文  英文  數學  地理  探討
昌嘉洋  98  81  84  83  87
余月修  59  77  69  52  71
簡佳樺  93  50  75  67  57
陳建豪  66  68  75  62  50
陳美惠  90  58  82  67  79
楊又源  92  52  80  88  69
陳逸凡  90  99  79  78  98
余丞苓  75  94  59  91  93
陳冠霞  85  83  81  86  92
鄭佳玲  51  92  92  95  69

In [35]:
df['國文'] + df['英文'] + df['數學'] + df['地理'] + df['探討']

朱彥志    400
林世城    339
胡芳瑜    382
李慶亮    391
盧文啟    432
林士凱    385
劉萬季    429
陳家年    371
陳筱涵    324
白世宏    407
黃心航    403
趙家豪    433
張牧聿    399
黃奎紹    348
張慧君    359
黃靜怡    412
鞠冠宇    347
鄭憲定    343
周琬婷    314
楊偉翔    442
許芳如    356
葉軍仰    451
朱惠儀    356
唐翊修    351
盧冠發    348
李政成    351
黃雅慧    380
郭坤花    409
黃淑芬    383
周家銘    317
馮耀中    399
劉雯芬    351
劉林中    365
陳倩潔    397
吳俐芷    353
郭淑枝    410
鄭孟芳    361
陳嘉淑    382
楊建安    397
錢欣潔    375
昌嘉洋    433
余月修    328
簡佳樺    342
陳建豪    321
陳美惠    376
楊又源    381
陳逸凡    444
余丞苓    412
陳冠霞    427
鄭佳玲    399
dtype: int64

In [37]:
stu_sum = df.sum(axis=1)
stu_mean = stu_sum / 5.0

In [40]:
df['總分'] = stu_sum
df['平均'] = stu_mean

In [41]:
df

      國文   英文  數學   地理   探討   總分    平均
朱彥志   96   82  78   61   83  400  80.0
林世城   62   76  68   74   59  339  67.8
胡芳瑜   90   74  56   86   76  382  76.4
李慶亮   81   94  57   96   63  391  78.2
盧文啟   97   76  89  100   70  432  86.4
林士凱   75   84  56   92   78  385  77.0
劉萬季   98   55  87  100   89  429  85.8
陳家年   53   64  66   92   96  371  74.2
陳筱涵   70   54  63   55   82  324  64.8
白世宏   61   85  87   96   78  407  81.4
黃心航   77   97  95   66   68  403  80.6
趙家豪   90   65  99   89   90  433  86.6
張牧聿   86   87  76   81   69  399  79.8
黃奎紹   72   63  67   76   70  348  69.6
張慧君   57  100  73   72   57  359  71.8
黃靜怡   79   76  91   66  100  412  82.4
鞠冠宇   87   57  57   80   66  347  69.4
鄭憲定   51   56  99   65   72  343  68.6
周琬婷   66   56  51   81   60  314  62.8
楊偉翔   85   86  92   99   80  442  88.4
許芳如   94   54  52   96   60  356  71.2
葉軍仰  100   94  82   97   78  451  90.2
朱惠儀   62   69  82   92   51  356  71.2
唐翊修   73   81  56   66   75  351  70.2
盧冠發   58   62  58   74   96  348  69.6
李政成   91   83  58   64   55  351  70.2
黃雅慧   92   61  65   64   98  380  76.0
郭坤花  100  100  51   82   76  409  81.8
黃淑芬   93   71  60   88   71  383  76.6
周家銘   52   56  58   79   72  317  63.4
馮耀中   78   83  82   89   67  399  79.8
劉雯芬   99   56  50   60   86  351  70.2
劉林中   86   82  56   61   80  365  73.0
陳倩潔   63   95  78   69   92  397  79.4
吳俐芷   94   59  70   56   74  353  70.6
郭淑枝   97   54  88   94   77  410  82.0
鄭孟芳   99   62  57   89   54  361  72.2
陳嘉淑   87   81  53   68   93  382  76.4
楊建安   89   77  78   55   98  397  79.4
錢欣潔   66   69  72   69   99  375  75.0
昌嘉洋   98   81  84   83   87  433  86.6
余月修   59   77  69   52   71  328  65.6
簡佳樺   93   50  75   67   57  342  68.4
陳建豪   66   68  75   62   50  321  64.2
陳美惠   90   58  82   67   79  376  75.2
楊又源   92   52  80   88   69  381  76.2
陳逸凡   90   99  79   78   98  444  88.8
余丞苓   75   94  59   91   93  412  82.4
陳冠霞   85   83  81   86   92  427  85.4
鄭佳玲   51   92  92   95   69  399  79.8