In [ ]:
import pandas as pd

df = pd.read_csv('student.csv', index_col=0)
df

In [20]:
df = pd.read_excel('student.xlsx', index_col=0)
df.head()

     國文  英文  數學   地理  探討
朱彥志  96  82  78   50  83
林世城  62  76  68   74  59
胡芳瑜  90  74  56   86  76
李慶亮  81  94  57   96  63
盧文啟  97  76  89  100  70

·透過欄選取
·透過欄選取

In [ ]:
# 透過欄選取
# 單欄選取
df['國文'] #series

In [ ]:
# 多欄選取
df[['國文','數學']]

In [22]:
#loc->使用索引的名稱
#iloc->使用索引的index

df.loc['朱彥志']
df.loc[['朱彥志','李慶亮']]

     國文  英文  數學  地理  探討
朱彥志  96  82  78  50  83
李慶亮  81  94  57  96  63

In [23]:
df.iloc[0]
df.iloc[[0,3]]

     國文  英文  數學  地理  探討
朱彥志  96  82  78  50  83
李慶亮  81  94  57  96  63

In [25]:
df.loc['朱彥志':'李慶亮']

     國文  英文  數學  地理  探討
朱彥志  96  82  78  50  83
林世城  62  76  68  74  59
胡芳瑜  90  74  56  86  76
李慶亮  81  94  57  96  63

In [26]:
df.iloc[0:3]

     國文  英文  數學  地理  探討
朱彥志  96  82  78  50  83
林世城  62  76  68  74  59
胡芳瑜  90  74  56  86  76