In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.297374  0.396590
1    a  two  0.095233 -0.000281
2    b  one -2.745058  0.005460
3    b  two  0.148332  1.402732
4    a  one -2.011411  0.961233

In [3]:
#Series的Groupby
grouped = df['data1'].groupby(['台北','台北','台北','台中','台中'])
grouped

In [4]:
grouped.mean()

台中   -0.931539
台北   -0.784150
Name: data1, dtype: float64

In [5]:
df['data1'].groupby(df['key2']).mean()

key2
one   -1.486365
two    0.121783
Name: data1, dtype: float64

In [9]:
df['data1'].groupby([df['key1'],df['key2']]).mean()

key1  key2
a     one    -0.857018
      two     0.095233
b     one    -2.745058
      two     0.148332
Name: data1, dtype: float64

In [10]:
s1.unstack(level='key1')

NameError: name 's1' is not defined